<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edittodo/<%= getedit._id %>" method="post">
        <h1>Edit</h1>
        <input value="<%= getedit.title %>" required name="title" type="text" placeholder="Title">
        <input value="<%= getedit.content %> "required name="content" type="text" placeholder="Content">
        <button type="submit">Edittodo</button>
    </form>
</body>
</html>