<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>
<style>
    .con {
        width: 40%;
        height: 60vh;
        background-color: rgb(133, 144, 133);
        margin: auto;
        margin-top: 10.5%;
    }

    .allinput {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 10px;

    }

    .signup-icon {
        display: flex;
        justify-content: space-between;
    }

    .the-flex {
        display: flex;
        justify-content: space-around;
    }

    .next-already {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input {
        height: 7vh;
    }
</style>

<body class="bg-success">
    <% if (errormassage) { %>
        <div class="alert alert-danger text-center text-danger fs-4"><%= errormassage %></div>
     
    <% } %>

    <div class="con">
        <div class="signup-icon">
            <h1>Sign up</h1>
            <p>icon</p>
        </div>

        <div class="the-flex">

            <form class="allinput" action="/signup" method="post">
                <input name="name" type="text" placeholder="Enter your full name">
                <input name="email" type="email" placeholder="Enter your email">
                <input name="password " type="password" placeholder="Enter your password">
                <input name="password" type="password" placeholder="confirm password">
                <button class="btn btn-primary">Next</button>
                <p>Already have an account? <a href="login">Log in.</a></p>
            </form>

            <!-- <div class="next-already">

                <form action="login" method="get">
                    
                </form>
                 
            </div> -->
        </div>
    </div>
</body>

</html>