<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/todo" method="post">
        <input name="title" type="text" placeholder="Title">
        <input name="content" type="text" placeholder="Content">
        <button type="submit">Addtodo</button>
    </form>



        <% alltodo.forEach((element, index)=> { %>
            <p>Name:<%= element.title %></p>
            <p>Food:<%= element.content %></p>


            <form action="/delete" method="post">
                <input name="id" value="<%= element._id %>" type="text" hidden>
                <button>Delete</button>
            </form>

            <form action="/edit/<%= element._id %>" method="get">
                <button>Edit</button>
            </form>

        <% }) %>




   


    
</body>

</html>